<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <br>
        <a href="/login" class="btn btn-lg btn-outline-primary btn-block text-uppercase">Login</a>
        <br>
            <% articles.forEach(article => { %>
                <div class="card">
                    <div class="card-header">
                        <%= article.title %>
                    </div>
                    <div class="card-body">
                        <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                    </div>
                </div>
                <br>
            <% }) %>
        
    </div>
</body>
<%- include ('partials/footer.ejs') %>